.background-img {
    background-image: url('https://occ-0-3933-3934.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABQ5mXbPED7Jv1auBILhTeuINhN5tYsMwz3vI1kJfvutaQvSSL2orgjVfOCK6jv_95FaomJKI7UKog7afQUYy7_E78-WJHMnJ0Bq2.webp?r=d13');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: absolute;
    height: 56.25vw;
}

.video-background {
    width: 100%;
}