.card-img {
    border-radius: 2px;
    width: 13vw;
}

.card {
    padding-right: 5px;
}

@media (max-width: 580px) {
    .card-img {
        width: 26vw;
    }
}

.movie-card-hover-container {
    position: relative;
}

