.search-btn-icon, .notification-icon {
    color: #fff;
    font-size: 20px;
}

.search-btn-icon {
    position: relative;
    bottom: 17px;
}
.notification-icon, .search-btn-icon, .dvd-link {
    padding: 0 10px;
}

.profile-pic {
    width: 32px;
    border-radius: 4px;
    margin: 0 10px;
}

.right-nav-bar {
    display: flex;
    align-items: center;
}

.search-btn-icon:hover, .notification-icon:hover, .profile-pic:hover {
    cursor: pointer;
}

.dvd-link {
    color: white;
    font-weight: 500;
    font-size: 1.2vw;
    text-decoration: none;
    display: none;
}

.dvd-link:hover {
    cursor: pointer;
}

.caret-down-icon {
    color: white;
    transition: transform 0.3s ease-in;
    display: none;
}

.caret-down-icon.rotated {
    transform: rotate(180deg);
}

.drop-down-account-controller {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .search-btn-icon {
        display: none;
    }
}

@media (min-width: 1100px) {
    .dvd-link {
        display: block;
    }
}

@media (min-width: 950px) {
    .caret-down-icon {
        display: block;
    }
}
