.search-btn-icon, .notification-icon {
    color: #fff;
    font-size: 20px;
}

.notification-icon, .search-btn-icon, .dvd-link {
    padding: 0 10px;
}

.profile-pic {
    width: 32px;
    border-radius: 6px;
    padding-left: 10px;
}

.right-nav-bar {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 400px) {
    .search-btn-icon {
        display: none;
    }
}

.search-btn-icon:hover, .notification-icon:hover, .profile-pic:hover {
    cursor: pointer;
}

.dvd-link {
    color: white;
    font-weight: 500;
    font-size: 1.2vw;
    text-decoration: none;
}

.dvd-link:hover {
    cursor: pointer;
}