.list-items {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.list-items::-webkit-scrollbar {
    display: none;
}

.title {
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.6vw;
    margin: 7px 0;
}

.list-container {
    overflow-x: hidden;
    padding: 1.5vw 0 1.5vw 4%;
}

