.list-items {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    gap: 5px;
    padding-bottom: 80px;
    margin-bottom: -80px;
    padding-left: 20px;
    z-index: 3;
}

.list-items::-webkit-scrollbar {
    display: none;
}

.title {
    color: #e5e5e5;
    font-weight: 700;
    font-size: 1.6vw;
    margin: 7px 0;
}

.list-container {
    padding: 1.5vw 0 1.5vw 4%;
}

.overflow-y-visible {
    overflow-y: visible !important;
}
