.menu-container {
    display: flex;
    align-items: center;
}

.menu-components {
    list-style: none;
    display: flex;
    font-size: 12px;
    white-space: nowrap;
    color: #e5e5e5;
    padding: 0;
}

.home {
    font-size: 12px;
    color: #e5e5e5;
}

.menu-item {
    padding-left: 20px;
}

.menu-item:hover, .home:hover {
    color: #b3b3b3;
    cursor: pointer;
}

@media screen and (max-width: 885px) {
    .menu-container {
        display: none;
    }
}