.movie-card-hover {
    box-sizing: border-box;
    color: white;
    margin-right: 5px;
    position: relative;
    padding: 0;
    width: 100%;
    height: 10%;
    z-index: 1;
}

.movie-poster-hover {
    width: 18vw;
    border-radius: 4px;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
}

.left-side-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
    width: 2vw;
}

.bottom-features-movie-card {
    box-sizing: border-box;
    width: 18vw;
    padding: 15px;
    position: relative;
    top: -80px;
    background-color: #141414;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 5px 16px 0px #000000;
    ;
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 0.8vw;
    gap: 12px;
}

.new-movie {
    margin: 5px 0;
}

.movie-genra {
    display: flex;
    align-items: center;
    font-size: 0.8vw;
}

.devider {
    width: 0.2vw;
    height: 0.2vw;
    border-radius: 50%;
    background-color: gray;
    margin: 5px;
}

@media (max-width: 580px) {
    .movie-poster-hover, .bottom-features-movie-card {
        width: 30vw;
    }

    .bottom-features-movie-card {
        top: -70px;
    }
}