.movie-card-hover {
    box-sizing: border-box;
    color: white;
    margin-right: 5px;
    position: absolute;
    padding: 0;
    width: 100%;
    min-height: 225px;
    z-index: 2;
    right: 15px;
}

.movie-poster-hover {
    width: 152px;
    border-radius: 4px;
    box-shadow: 2px 5px 16px 0px #000000;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
}

.left-side-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icons {
    width: 15px;
}

.bottom-features-movie-card {
    box-sizing: border-box;
    width: 152px;
    padding: 15px;
    position: relative;
    top: -80px;
    background-color: #141414;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    box-shadow: 2px 5px 16px 0px #000000;
}

.movie-info {
    display: flex;
    align-items: center;
    font-size: 9px;
    gap: 12px;
}

.new-movie {
    margin: 5px 0;
}

.movie-genra {
    display: flex;
    align-items: center;
    font-size: 7px;
}

.devider {
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background-color: white;
    margin: 3px;
}

@media (max-width: 580px) {
    .movie-poster-hover, .bottom-features-movie-card {
        width: 30vw;
    }

    .bottom-features-movie-card {
        top: -70px;
    }

    .movie-info, .movie-genra {
        font-size: 1.3vw;
    }
}